server-data/secret.cfg
.encoded_backup_once/
dist-resources/
fxserver/resources_custom/
fxserver/cache/
cache/
*.logresources/oxmysql_disabled
resources/qb-inventory_disabled
resources/qb-phone_disabled
